@model IEnumerable<BusinessLayer.Models.DTO.Car>


<table class="table">
    <thead>
        <tr>
            <th>
                Car Number
            </th>
            <th>
                Car Model
            </th>
            <th>
                Engine Capacity
            </th>
            <th>
                BodyNubmer
            </th>
            <th>
                Year Of Production
            </th>
            <th>
                Owner Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td asp-display-for="@item.CarNumber"></td>
            <td asp-display-for="@item.CarModel"></td>
            <td asp-display-for="@item.EngineCapacity"></td>
            <td asp-display-for="@item.BodyNubmer"></td>
            <td asp-display-for="@item.YearOfProduction"></td>
            <td asp-display-for="@item.OwnerId"></td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create</a>
</p>
